.bg-gray {
    background-color: #6d5268;
    // background: #91828e;
}

h1 {
    color: #aed8bc;
}

.test {
    color:#d4f0e5;
}

// .pad-li {
//     padding-bottom: 7pt;
// }

body, div {
    color: white;
}


a {
    // color: #C12267;
    // &:hover {
    //     color:#F9966B;
    // }
    color: #ffdfaf;
    
    &:hover {
        // color:#fdb9f4;
        color: #f4d6f8;
    }
    
}

section {
    margin: 10em, 10em, 10em, 10em;
    padding: 10em, 10em, 10em, 10em;
}

.prompter {
    // color:#aed8bc;
    color:#98ffd6;
}

.subtitle {
    color: white;
}

.curve-container {
    border: 2px;
    border-radius: 0.5em 1.5em; 
    border-color: rgba(0,0,0, 0.8); 
}

.bg-transblack {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
  }