<section id="about" class="section bg">
   <div class="container">
      <h1 class="title is-1"> About </h1>
      <div class="columns">        
            <div class="column">
               <p><strong>Welcome!</strong> My name is <strong>Leslie Ashmeade</strong>. I am studying <strong>Computer Science</strong> and <strong>Finance</strong> at the University of Waterloo. I will be
                  graduating with a <strong>Bachelor of Computing and Financial Management</strong> this April.</p>
               <br/>
               <p>I love <strong>math</strong> and <strong>technology</strong> but, I also enjoy the <strong>arts</strong>. Here are some interesting facts about me:</p>
               <div class="content">
                  <ul>
                     <li>
                        I have played <strong>piano</strong> for most of my life. I am trained to play Royal Conservatory of Music (RCM) Level 10 classical music.
                     </li>
                     <li>
                        I love learning <strong>languages</strong>. I did a trip to Switzerland and France in grade 12 in order to improve my French.
                        I am currently learning Chinese and Korean.
                     </li>
                     <li>
                        For highschool, I auditioned to get into their specialized music program. I graduated highschool with both the <strong>Music Program Award</strong> and
                        a <strong>Specialist High Skills Major (SHSM) in Arts and Culture</strong>.
                     </li>
                  </ul>
               </div>
            </div>
            <div class="column">
                  <img class="corporatephoto" src="assets/img/corporatephoto2.jpg"/>
            </div>
      </div>
   </div>
</section>