strong {
  color: #9b496d;
}

#about {
  // color: #00575a;
}

.title {
  color: #7C0A3B;
}

.bg {
  background: #FFF5EE;
}

.corporatephoto {
    border-radius: 5%;
    /*display: block;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*float: right;*/
  }