<section id="experience bg" class="section bg">
   <div class="container">
      <h1 class="title is-1"> Who am I? </h1>
      <div class="columns">        
            <div class="column">
               <p>I am currently a student at the University of Waterloo studying Computer Science and Finance.</p>
               <br/>
               <p>Some interesting facts about me:</p>
               <div class="content">
                  <ul>
                     <li>
                        I have played piano for most of my life. I practice Royal Conservatory Music (RCM) Level 10 classical music.
                     </li>
                     <li>
                        I love learning languages. I did a trip to Switzerland and France in grade 12 in order to improve my French.
                        I am currently learning Chinese and Korean.
                     </li>
                     <li>
                        I went to high school for the arts to study music and got a Specialist High Skills Major (SHSM) in Arts and Culture.
                     </li>
                  </ul>
               </div>
            </div>
            <div class="column">
                  <img class="corporatephoto" src="assets/img/corporatephoto2.jpg"/>
            </div>
      </div>
   </div>
</section>