.bg-olive {
    background: #ABC04D;
    
    .title, .subtitle, .label {
        color: #FFF5EE;
        strong {
            color: #ffd4b5;
        }
    }

    .container {
        color: #FFF5EE;
    }
}

.bg-magenta {
    background: #C12267;

    .title, .subtitle, .label {
        color: #FFF5EE;
        strong {
            color: #ffd4b5;
        }
    }

    .container {
        color: #FFF5EE;
    }
}

.bg-aqua {
    background-color: #aed8bc;
    .title, .subtitle, .label, .div, .container {
        color: #FFF5EE;
        strong {
            color: #ffd4b5;
        }
    }
}