<!--The content below is only a placeholder and can be replaced.-->
<html class="has-navbar-fixed-top">
<nav class="navbar is-fixed-top is-transparent bg-test" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" (click)="navigateToHeader('Home')" (click)="resetActiveStatus()">
      <img src="assets/img/warmLogo.png">
    </a>

    <a role="button" class="navbar-burger burger" (click)="onBurgerClick()" [class.is-active]="activeStatus" aria-label="menu" aria-expanded="false" data-target="personal-navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="personal-navbar" class="navbar-menu" [class.is-active]="activeStatus">
    <div class="navbar-start">
      <a class="navbar-item" (click)="navigateToHeader('About')" (click)="resetActiveStatus()">
          About
      </a>
      <a class="navbar-item" (click)="navigateToHeader('Program')" (click)="resetActiveStatus()">
          Program
      </a>
      <a class="navbar-item" (click)="navigateToHeader('Resume')" (click)="resetActiveStatus()">
          Resume
      </a>
      <a class="navbar-item" (click)="navigateToHeader('Contact')" (click)="resetActiveStatus()">
          Contact
      </a>
      

      <!-- <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">

          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div> -->
    </div>

    <!-- <div class="navbar-end">
      <div class="navbar-item">
        <span>Languages | <a>English</a>&nbsp;&nbsp;&nbsp;&nbsp;<a>한국어</a></span>
      </div>
    </div> -->
  </div>
</nav>

<!--The content below is only a placeholder and can be replaced.-->
<app-home id="Home"></app-home>
<app-about id="About"></app-about>
<app-program id="Program"></app-program>
<app-resume id="Resume"></app-resume>
<app-contact id="Contact"></app-contact>


<section class="section bg-olive has-text-right is-flex-touch">
    <div class="container has-icons-right">
       <span class="icon is-small is-right">
          <fa-icon [icon]="['fas','asterisk']"></fa-icon>
        </span>
        &nbsp;
        <strong>Designed and developed by Leslie Ashmeade</strong>
    </div>
  </section>
  </html>



