<section id="experience" class="section bg">
    <div class="container">
       <h1 class="title is-1 is-bold">Experience</h1>

       <!-- <div class="container">
          <div id="myCarousel" class="carousel slide  margin-sides data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators-numbers">
              <li data-target="#myCarousel" data-slide-to="0" class="active">1</li>
              <li data-target="#myCarousel" data-slide-to="1">2</li>
              <li data-target="#myCarousel" data-slide-to="2">3</li>
              <li data-target="#myCarousel" data-slide-to="3">4</li>
            </ol>
            <div class="carousel-inner" role="listbox">
            -->
              <div class="">
                <div class="bg-white">
                      <h3 class="subtitle is-4 is-bold"><a href="https://www2.deloitte.com/ca/en/pages/technology/articles/welcome-to-d-space.html">DSpace (Deloitte's Innovation Lab)</a></h3>
                      <h4 class="subtitle is-4 is-bold">Software Product Prototyper</h4>
                      <p>I currently work at this company </p>
                      <p>As a Product Prototyper, you will work with a small team of entrepreneurial-minded developers,
                        co-op students, and interaction designers in a unique startup environment. You will need to be
                        curious and a nimble explorer of new ideas. You will be asked to wear multiple hats, juggle multiple
                        responsibilities, and focus your technical skills to deliver engaging and innovative prototypes for
                        Deloitte and our customers. Leveraging state-of-the-art technologies, you will work on a variety of
                        projects within small agile/scrum teams with a focus on prototypes, design, MVP implementation, and
                        market validation. You will be working with the latest in Internet of Things technology, mobile and
                        Web applications, NoSQL databases, analytics, wearables and machine learning to create compelling
                        prototype products and proof of concept innovations.</p>
                  </div>
              </div>

              <div class="">
                <div class="bg-white">
                      <h3 class="subtitle is-4 is-bold"><a href="https://www.sunlife.ca/">Sun Life Financial</a></h3>
                      <h4 class="subtitle is-4 is-bold">Web Application Developer Co-op</h4>
                      <p>My third coop term where I worked on the Application and Operations services team. I found bugs and made improvements to a server comparison tool for the eBusiness team.</p>
                      <ul>
                      <li> Resolved issues and implemented new features for a web-based server comparison tool that is used internally by the Application Operations and Services (AOS) team </li>
                      <li>Completed enhancements to the web application in half the expected time</li>
                      <li>Created detailed technical and user documentation for web applications and prepared for succession planning</li>
                      </ul>
                </div>
              </div>

              <div class="">
                <div class="bg-white">
                      <h3 class="subtitle is-4 is-bold"><a href="https://www.softek.ca/">Softek Inc.</a></h3>
                      <h4 class="subtitle is-4 is-bold">Desktop Application Developer Co-op</h4>
                      <p>My second coop term and learned about programming for financial industry. Build software that tracked a trader's position in real time. Prototype was released for testing.</p>
                      <ul>
                      <li> Designed and co-developed software that tracks a trader’s intraday position in real-time</li>
                      <li> Collaborated with a Sales Representative to determine the best way to implement the software</li>
                      <li> Released the prototype for company and client use</li>
                      </ul>
                      </div>
              </div>
            
              <div class="">
                <div class="bg-white">
                      <h3 class="subtitle is-4 is-bold"><a href="http://www.cgbgroup.com/">CG&amp;B Group a division of Arthur J. Gallagher Canada</a></h3>
                      <h4 class="subtitle is-4 is-bold">Financial Administrative Assistant Co-op</h4>
                      <p> My first coop term and learn a lot about the insurance industry. I assisted the IBA Team (Insurance Broker Accounting) and worked alongside the CAO and other senior management. </p>
                      <ul>
                      <li> Key member of the Insurance Broker Accounting (IBA) team which reports directly to the Chief Accounting Officer and oversees all transactions for AJG companies nationally</li>
                      <li>Reconciled and updated client and broker files using brokerage management software</li>
                      <li>Recognized inefficiencies and proposed solutions to streamline business processes</li>
                      <li>Submitted company invoices for payment and resolved employee reimbursement issues</li>
                      </ul>
                  </div>
              </div>
            <!-- </div> -->
          <!-- </div>
      </div>  -->
    </div>
  </section>