.bg {
    background: url(/assets/img/circles-and-roundabouts.png) repeat center center fixed;
}

.bg-white {
    background: rgba(255, 255, 255,0.8);
    padding: 2em;
    margin: 2em;
    border: 5px solid rgba(140, 134, 134,0.6);
}

h1 {
    color: #C12267;
}

a {
    color: #001c72;
}